    .Nombre-tienda {
      color:deeppink; background-color: black;
      border: 30px solid pink;padding: 20px;
    }

    th { 
      color: blue; font-size: 20px;font-weight: bolder;
      
      /* poner tipo de letra y tamaño*/
     }
     
     
     nav{
       /*sacar las viñetas y expandir color*/
       background-color: darkslategrey;}

          
     div{
      background-color: darkorchid; width: 33%;
     }
     form { 
      border-bottom-width: 5px ;border-color:black;
      border-style: solid;padding: 2em;
       }
       /*no puedo cambiar el ancho del borde ni el color de relleno*/
      footer{       
            
      background-color: pink; color:blue;
     
     font-size:10px; border 50px; padding: 20px;  }


